*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
  
}


.header {
overflow: hidden;
background-color: #827ffe;
padding: 20px 10px;
}

.header a {
float: left;
color: #fff;
text-align: center;
padding: 18px;
text-decoration: none;
font-size: 18px; 
line-height: 25px;
border-radius: 8px;
}

.header a.name {
font-size: 30px;
color: #fff;
}

.header a.active {
background-color: #fff;
color: #827ffe;
}

.header-right {
float: right;
}

@media screen and (max-width: 500px) {
.header a {
  float: none;
  display: block;
  text-align: left;
}

.header-right {
  float: none;
}
}

.wrapper{
  background-color: #827ffe;
  color: white;
  font-size: 25px;
  padding:wrap;
  width: 60%;
  margin: auto;
  text-align: center;
}
.sqlquery{
  padding-top: 60px;
}

.choose{
  background-color: #fff;
  font-size: 25px;
  padding: 20px;

  text-align: center;
}

.choose button{
  color: #fff;
  background-color: #827ffe;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  font-weight: bold;
  font-size: x-large;
  border-radius: 50px;
  margin: 50px;
}

.choose button:hover{background-color: #403866;cursor: pointer;}


.cart{
  background-color: rgb(178, 177, 255);
  cursor: pointer;
  border-radius: 20px;
}

.cart:hover{background-color: #827ffe;}

.table1 {
  border-collapse: collapse;
  width: 100%;
}

.table1 td{
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
  color: #403866;
  font-size: x-large;
}

.table1 tr:nth-child(even){background-color: #fff;}
.table1 tr:nth-child(odd){background-color: #f2f2f2;}

.table1 tr:hover {background-color: #ddd;}

.table1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #403866;
  color: white;
  font-size: x-large;
}

.query{
  font-size: 30px;
  font-weight: bold;
  color: #4c4c5f;
  text-align: center;
  text-decoration: solid;
  background-color: aqua;
  padding: 10px;
}
.queryused{
  font-size: 24px;
  font-weight: bold;
  color: #8f8fa1;
  text-align: center;
  text-decoration: solid;
  background-color: aqua;
  padding: 10px;
}



footer{
  border: 50px;
  background-color: #403866;
  fill: #403866;
  padding: 100px;
  
}
footer ul li{
  text-decoration-color: #fff;
  list-style: none;
  color: #f2f2f2;
  padding: 8px;
  background-color: #403866;
  text-align: center;
}
footer ul li a{
  color: #fff;
  text-decoration: none;
}